.center {
  display: flex;
  max-width: 960px;
  flex-direction: column;
  text-align: center;
  height: 300px;
}

.song {
  margin-top: -10px;
}

.image {
  margin: 0 auto;
  width: 240px;
  height: 240px;
}
